{{> menu active="dashboard"}}

<section class="section">
  <div class="container">
  <div class="columns is-4 is-variable is-multiline">
  {{> list-locations}}
  </div>
  </div>
</section>
<section>
  <div class="mapid" id="mapid"></div>
  {{> add-location}}
</section>
  
<script src="../maps.js"></script>
<script>
  const mapMarkers = {
    markers: [{{#each locations}}
      "{{name}}<br>Latitude: {{lat}}<br>Longitude: {{lng}}",{{/each}}],
    latitudes: [{{#each locations}}
      "{{lat}}",{{/each}}],
    longitudes: [{{#each locations}}
      "{{lng}}",{{/each}}]
  };

  for (let i = 0; i < mapMarkers.markers.length; i++) {
    marker = new L.marker([mapMarkers.latitudes[i], mapMarkers.longitudes[i]])
      .bindPopup(mapMarkers.markers[i])
      .addTo(mymap);
  }

</script>