{{> menu}}
{{log locations}}
<section class="section columns is-vcentered">
  <div class="title column has-text-centered">
      {{location.name}}
  </div>
    <div class="column">
    {{> location-image }}
    </div>
</section>
<section class="section">
  <div class="container">
  <div class="columns is-4 is-variable is-multiline">
  {{> list-artworks}}
  </div>
  </div>
</section>
<section>
  <div class="#mapid" id="mapid"></div>
  {{> add-artwork}}
</section>

<script>
const mymap = L.map("mapid").setView([ {{location.lat}}, {{location.lng}}],10);
L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3JhaWctd2l0IiwiYSI6ImNsMHhzdnV0bjA3a3UzaW54N3ZjMXlqZnEifQ.GLTY8zI_FymC9JE_ugB0cw", {
  attribution: "Map data &copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors, Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>",
  maxZoom: 18,
  id: "mapbox/streets-v11",
  tileSize: 512,
  zoomOffset: -1,
}).addTo(mymap);

const  popup = L.popup();

const layerGroup = L.layerGroup().addTo(mymap);

function onMapClick(e) {
  popup
    .setLatLng(e.latlng)
    .setContent(`You clicked the map at ${  e.latlng.toString()}`)
    .openOn(mymap);
}

function addMarker(lat,lng){
  const marker = L.marker([lat, lng]).addTo(layerGroup);
}

mymap.on("click", onMapClick);
</script>
<script>
  const mapMarkers = {
    markers: [{{#each location.artworks}}
      "Title: {{title}}<br>Artist: {{artist}}<br>Category: {{category}}<br>{{description}}<br><img src={{img}}>",{{/each}}],
    latitudes: [{{#each location.artworks}}
      "{{lat}}",{{/each}}],
    longitudes: [{{#each location.artworks}}
      "{{lng}}",{{/each}}]
  };

  for (let i = 0; i < mapMarkers.markers.length; i++) {
    marker = new L.marker([mapMarkers.latitudes[i], mapMarkers.longitudes[i]])
      .bindPopup("<h1>Artwork</h1>" + mapMarkers.markers[i])
      .addTo(mymap);
  }

</script>

