{{#each location.artworks}}
        <div class="column is-one-quarter">
<div class="card">
  <div class="card-image">
    <figure class="image is-256x256">
      <img id="cardStyle" src={{img}}>
    </figure>
  </div>
  <div id="cardContent" class="card-content has-text-centered">
    <h2 class="title is-4">
      {{title}}
    </h2>
    <h1 class"title is-6">
    <p>{{artist}}</p>
    <p>{{category}}</p>
    <p>{{year}}</p>
    <p>{{description}}</p>
    </h1>
    <footer class="card-footer">
    <a href="/location/{{../location._id}}/deleteartwork/{{_id}}" class="card-footer-item">
      <p>Delete <i class="fas fa-eraser"></i></p>
    </a>
    </footer>
  </div>
  </div>
  </div>
{{/each}}