{{#each locations}}
<div class="column is-one-quarter">
<div class="card has-background-info-light">
            <div class="card-header">
                <p class="is-size-3">
                    <b>{{name}}</b>
                </p>
  
            </div>
            <div class="card-image">
                <figure class="image">
                    <img id="cardStyle" src= {{img}}
                        alt="Location image">
                </figure>
            </div>
            <div class="card-content is-size-6 has-text-weight-semibold">
                <p>New Artwork: {{title}}</p>
                <p>Category: {{category}}</p>
                <p>Sculptures: {{sculptures}}</p>
                <p>Murals: {{murals}}</p>
                <p>Street Art: {{streetArt}}</p>
            </div>
  
            <div class="card-footer has-text-weight-semibold has-background-link-light">
                <a href="/location/{{_id}}" class="card-footer-item has-text-black has-background-success-light">
                    Open
                </a>
                <a href="/dashboard/deletelocation/{{_id}}" class="card-footer-item has-text-black has-background-danger-light">
                    Delete
                </a>
            </div>
        </div>
</div>
{{/each}}